node_modules/
.env
.DS_Store
npm-debug.log*
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
build/
dist/
windows/build/
windows/dist/
windows/MDM_FRP_BRASIL/
windows/MDM_FRP_BRASIL_DEVICE_SERVICE_MANAGER/
*.toc
*.pkg
*.pyz
